@model List<Beer>

<h1>Cervezas</h1>

<p>
	<a asp-action="Create">Crear</a>
</p>

<table class="table">	
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Marca</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var beer in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(m => beer.Name)
				</td>
				<td>
					@Html.DisplayFor(m => beer.Brand.Name)
				</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>